@{
    ViewData["Title"] = "Calculation Speed";
    Layout = "_Layout";
}
<script src="~/js/JSCalculationSpeed.js" asp-append-version="true"></script>
<h2>Multiplication Challenge</h2>

<div id="game" class="p-4 rounded shadow max-w-md mx-auto">
    <form>

    <div id="question" class="text-xl font-bold mb-4">Press Start to Begin</div>
    <input type="number" id="answerInput" disabled class="border p-2 rounded w-full mb-4" hidden placeholder="Your Answer" />
    <button onclick="submitAnswer()" type="button" class="bg-blue-500 text-white px-4 py-2 rounded mb-4" id="submitBtn" disabled hidden>Submit</button>
        <button onclick="startGame()" type="button" class="bg-green-500 text-white px-4 py-2 rounded mb-4" id="startBtn">Start Game</button>

        @Html.AntiForgeryToken()
        <button class="bg-green-500 text-white px-4 py-2 rounded mb-4" onclick="saveResults()" type="button" hidden disabled id="saveStatsBtn">Save Results</button>
        <div id="result" class="text-lg font-semibold mt-4">

        </div>
    </form>
</div>
