<script src="~/js/JSBlocksMemory.js" asp-append-version="true"></script>
<button id="startBtn" onclick="startGame()">TEST</button>
<div id="gameContainer"></div>
<div id="scoreDiv" hidden disabled>SCORE</div>
<button id="saveBtn" onclick="saveStats()" hidden disabled>Save Score</button>