<script src="~/js/JSAudioReaction.js" asp-append-version="true"></script>
<button onclick="startGame()" id="btnStart">START</button>
<audio id="myAudio1" src="~/sounds/fart.mp3"></audio>
<audio id="myAudio2" src="~/sounds/fart.mp3"></audio>
<audio id="myAudio3" src="~/sounds/fart.mp3"></audio>
<audio id="myAudio4" src="~/sounds/fart.mp3"></audio>
<div id="time">TIME</div>
<div id="avgTime">AVG TIME</div>
<div id="testS">TEST:</div>
<button id="saveBtn" onclick="saveTime()" hidden disabled>Save</button>
<button onclick="checkAnswerLeft()" hidden disabled id="leftBtn">CHECK 1 TEST</button>
<button onclick="checkAnswerRight()" hidden disabled id="rightBtn">CHECK 2 TEST</button>
<button onclick="checkAnswerUp()" hidden disabled id="upBtn">CHECK 3 TEST</button>
<button onclick="checkAnswerDown()" hidden disabled id="downBtn">CHECK 4 TEST</button>