<script src="~/js/JSLogicalQuestions.js" asp-append-version="true"></script>
<h1>TESTING</h1>
<div id="questionField">QUESTION</div>
<input id="answerField" placeholder="Your answer..." type="number" hidden disabled/>
<button id="startBtn" onclick="startGame()">START GAME</button>
<button id="submitBtn" onclick="checkAnswer()" hidden disabled>Check answer</button>