<script src="~/js/JSInterestingQuestions.js" asp-append-version="true"></script>

<div id="currentQuestion">Test Question</div>
<button id="startBtn" onclick="startGame()">Start Game</button>
<button id="answerA" hidden disabled onclick="checkAnswer('A')">A</button>
<button id="answerB" hidden disabled onclick="checkAnswer('B')">B</button>
<button id="answerC" hidden disabled onclick="checkAnswer('C')">C</button>
<button id="answerD" hidden disabled onclick="checkAnswer('D')">D</button>