
<script src="~/js/JSMemoryWords.js" asp-append-version="true"></script>

<h1>TESTING</h1>
<div id="currentWord">LABEL</div>
<button id="seenBtn" onclick="seenWord()" hidden disabled>I HAVE SEEN THE WORD</button>
<button id="notSeenBtn" onclick="notSeenWord()" hidden disabled>I HAVE NOT SEEN THE WORD</button>
<button onclick="startGame()" id="btnStart">START</button>
<button id="saveBtn" onclick="saveStats()" hidden disabled>SAVE SCORE</button>
<button id="restartBtn" onclick="restartGame()" hidden disabled>RESTART GAME</button>