
<script src="~/js/JSReverseWord.js" asp-append-version="true"></script>

<h1>TESTING</h1>
<div id="currentWord" hidden disabled>LABEL</div>
<div id="reversedWord">LEBAL</div>
<div id="scoreOutput" hidden disabled>SCORE</div>
<button onclick="startGame()" id="startBtn">START</button>
<input id="answerInput" type="text" hidden disabled />
<button id="saveBtn" onclick="saveStats()" hidden disabled>SAVE SCORE</button>